body{
    background: url(https://savantwealth.com/wp-content/uploads/2020/03/Focus-on-the-Fundamentals-Tile.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

.box-cards {    
    top: 50%;
    text-align: center;  
    margin-top: 10vh;                         
    opacity: 65%;
    display: inline-block;
   
} 

#card{
    width: 18rem;
    margin-left: 5%;
    margin-top: 2vh;
    
}

#divCol{
    margin-left: 15%;
}

#cardHeader{
    background-color: rgba(35, 36, 36, 0.671);
    width: 90%;
   
}


#nav-id{
    margin-left: 40%;
    width: 50%;
}


#coin{
    margin-left: 5%; 
}